@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/* body {
  font-family: "Quicksand";
} */

* {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo1 {
  height: 30px;
  width: 30px;
}

.bg-nav-1 {
  /*min-height: 100px !important;*/
  background-color: #faf6eb;
}

.nav-bg-2 {
  border: 1px solid;
  border-color: #a56715;
}

/* .heightscreen {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

.imgCarousel {
  height: 100vh;
  width: 100%;
}

.border-login {
  border: solid;
}
/* .search-form {
  font-size: 20px; 
  height: 50px;
  width: 90px;
} */

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  /* margin-top: 20px; */
  margin: 1rem 1rem 0rem 3rem;
  text-align: center;
  font-family: arial;
}

.cardText1 {
  color: white;
  background-color: #000;
}

/* .price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
} */

.product-image {
  margin-left: auto;
  margin-right: auto;
}

.sub-title {
  text-align: center;
}

.cardHeight1 {
  min-height: 100%;
}
